<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>stackoverflow</title>
</head>
<body>
    <header>
        <div class="contenedor_header">
            <a href="#"><img src="img/logo_stackoverflow.jfif" alt="logo_stackoverflow" class="logo"></a>
            <input type="text" placeholder="Buscar..." aria-label="Buscar" class="inputbuscar">
            <a href="#"><img src="img/avatar.png" alt="avatar" class="inline imgavatar"></a>
            <a href="#"><img src="img/otros botones.png" alt="botones" class="inline"></a>
        </div>
    </header>
    <div>
        <div id="section_preguntas_principales">
            <h1 class="inline h1_pregunta" >Preguntas Principales</h1>
            <a href="components/moderador.html" id="formular-pregunta">Moderador</a>
            <a href="components/formDoQuestion.html" id="formular-pregunta">Formular una pregunta</a>
            <div class="img_margin">
                <img src="img/menu_date.png" alt="date" class="date" >
            </div>
        </div>

        
        <div id="preguntas-principales">

        </div>
    </div>
    <script src="scripts/PreguntaScript.js"></script>
</body>
</html>