html{
    margin: 0px;
    background-color: hsl(210,8%,97.5%);
}

a{
    text-decoration: none;
}

/* header */
.inline{
    display: inline;
}

.logo{
    height: 60px;
}

.imgavatar{
    height: 30px;
    margin: 10px;
}

.inputbuscar{
    width: 95%;
    height: 30px;
    margin: 8px;
}

.contenedor_header{
    display: flex;
    padding: 6px;
    margin: 0px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5050;
    height: 50px;
    box-sizing: border-box;
    border-top: solid orangered;
}

/* preguntas */

#section_preguntas_principales{
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 20px;
    border-top: solid 2px rgb(226, 223, 223);
}

.h1_pregunta{
    margin-left: 200px;
}

.img_margin{
    margin-left: 670px;
    margin-bottom: 0px;
}

#formular-pregunta{
    margin-left: 180px;
    margin-bottom: 0px;
    position: relative;
    display: inline-block;
    padding: .8em;
    background-color: hsl(206,100%,52%);;
    border: 1px solid transparent;
    border-radius: 3px;
    color: white;
    outline: none;
    text-align: center;
}

.date{
    margin: 20px;
    margin-bottom: 0px;
}

/* preguntas-principales */

#preguntas-principales{
    border-top: solid 2px rgb(226, 223, 223);
}

/* Form question */
.formDoQuestion{
    background-color: hsl(210,8%,95%);
}

.Formular-una-pregunta{
    margin-top: 18px;
    padding: 20px;
    border-top: solid 2px rgb(226, 223, 223);
}

.banner-pregunta{
    margin-left: 300px;
}

#Form-question{
    border: solid 1px;
    padding: 10px;
}

#div-form{
    margin-left: 500px;
}

/* answerPage */

#button-preguntar{
    /* margin-left: 400px; */
    /* margin-bottom: 0px; */
    display: inline-block;
    padding: .8em;
    background-color: hsl(206,100%,52%);;
    border: 1px solid transparent;
    border-radius: 3px;
    color: white;
    outline: none;
    text-align: center;
}

TD{
    border: solid;
}