<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <link rel="stylesheet" href="/style.css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>moderador</title>
</head>
<body>
    <header>
        <div class="contenedor_header">
            <a href="../index.html"><img src="../img/logo_stackoverflow.jfif" alt="logo_stackoverflow" class="logo"></a>
            <input type="text" placeholder="Buscar..." aria-label="Buscar" class="inputbuscar">
            <a href="#"><img src="../img/avatar.png" alt="avatar" class="inline imgavatar"></a>
            <a href="#"><img src="../img/otros botones.png" alt="botones" class="inline"></a>
        </div>
    </header>

    <table id="contenido-moderador">
        <br>
        <br>
        <TR style="border: solid;">
            <TD>ID</TD>
            <TD>nombre_persona_que_pregunta</TD>
            <TD>pregunta</TD>
            <TD>fecha_publicacion</TD>
            <TD>eliminar</TD>
        </TR>
    </table>

    <script src="../scripts/moderador.js"></script>
</body>
</html>